.pagecontainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.page{
    position: relative;
    width: 100%;
    font-size: 0;
}
.img{
    width: 100%;
    height: 100%;
}
.img > img{
    width: 100%;
    height: 100%;
}
.text{
    position: absolute;
    width: 31%;
    top: 26.5%;
    right: 8%;
}
.text > div{
    font-size: 16px;
    font-family: "\9ED1\4F53";
    color: white;
}
.button{
    position: absolute;
    width: 25%;
    right: 10%;
}
.button > a{
    display: block;
}
.ios{
    top: 33%;
}
.android{
    top: 44%;
}
@media (max-width: 500px){
    .page{
        height: 100%;
    }
}