*{
	margin: 0;
	padding: 0;
}
body{
	width:100%;
	background: #FFFAE9;
	font-family: "黑体";
}
header{
	width:100%;
	background: #242928;
	text-align: center;
	font-size: 15px;color: white;
	padding:1em 0;
}
span{
	color: #E0645A;
}
.main{
	font-size: 12px;
	margin:1em;
}
.searchline{
	margin-bottom: 2em;
}
input{
	font-size: 12px;
}
p{
	height: 2.3em;
	line-height: 2.3em;
}
#inputdiv{
	background: white;
	border-radius: 5px;
}
#inputdiv  input{
	width:75%;
	border:none;
	outline: none;
	padding: 0.7em 0;
}
#inputdiv span{
	color: black;
	margin-left: 0.5em;
}
#carddiv{
	overflow: hidden;
	background: #FF5750;
	vertical-align: middle;
	padding: 0.8em 1em 1em 0.6em;
	border-radius: 5px;
}
#carddiv label{
	float: left;
	color: white;
}
#card{
	float: right;
	margin-top:2em;
}
#card input{
	border:none;
	outline: none;
}
.seconddiv{
	margin-bottom: 6em;
}
.thirddiv input{
	width: 100%;
	background: #FDBD2A;
	font-weight: bold;
	color: white;
	border:none;
	outline: none;
	padding: 1em 0;
	border-radius: 5px;
}