.banner{
     background: url("../images/index/banner.jpg");
}
.introduce{
    text-align: center;
    position: relative;
}
.introduce > div{
    width: 168rem;
    margin: 0 auto;
}
.introduce > div > div:nth-child(2){
    padding-top: 6rem;
}
.introduce button{
    width: 18.2rem;
    height: 4.2rem;
    border: thin solid #cecece;
    background-color: transparent;
    outline: none;
    font-size: 1.4rem;
    color: #666666;
}
/*主板块通用格式*/
.introduce > div > div{
    width: 71.429%;    
    margin: 0 auto;
}
.introduce > span{
    width: 100%;
    height: 0.1rem;
    position: absolute;
    top: 13.5rem;
    left: 0;
    background-color: #e7e7e7;
}
.theme{
    position: relative;
    padding-top: 6rem;
    padding-bottom: 2rem;
    height: 13.5rem;
}
.theme > span{
    position: absolute;
    bottom: -0.2rem;
    left:45.5%;
    width: 11.6rem;
    height: 0.4rem;
    background: #85b536;
    z-index: 2;
}
.theme > h1{
    font-size: 2.6rem;
    color: #4c4c4c;
    line-height: 1em;
}
.theme > h1 > span{
    color: #85b536;
}
.theme > h1 > small{
    font-size: 1.8rem;
    color: #474747;
}
/*主板块标题格式*/
.products{
    padding-bottom: 6rem;
}
.products-list > div{
    float: left;
}
.products-list{
    width: 100% !important;
    display: flex;
    display: -webkit-flex;
    padding-right: 16.071%;
    padding-left: 16.071%;
}
.products-list > div {
    width: 26.31%;
    cursor: pointer;
}
.products-list > div:nth-child(2) {
    margin-right: 10.526%;
    margin-left: 10.526%;
}
.products-list > div > div{
    padding-top: 100%;
    border-radius: 50%;
    position: relative;
}
.products-list > div:first-child > div{
    background: url("../images/index/products-1.jpg") no-repeat 20%; 
    background-size: cover;
} 
.products-list > div > div:hover{
    box-shadow:  0 0 0 300px rgba(0, 0, 0, 0.5) inset;
}
.products-list > div:nth-child(2) > div{
    background: url("../images/index/products-2.jpg") no-repeat 20%; 
    background-size: cover; 
}
.products-list > div:nth-child(3) > div{
    background: url("../images/index/products-3.jpg") no-repeat center; 
    background-size: cover; 
}
.products-list > div > div > div > span{
    position: absolute;
    top: 0;
    display: block;
    background: url("../images/index/products-1-1.png") no-repeat;
    background-size: 100% auto;
    width: 7.5rem;
    height: 8.5rem;
}
.products-list > div:nth-child(2) > div > div > span{
    background: url("../images/index/products-2-1.png") no-repeat;
    background-size: 100% auto;
    top: 10%;
}
.products-list > div:nth-child(3) > div > div > span{
    background: url("../images/index/products-3-1.png") no-repeat;
    background-size: 100% auto;
    top: 10%;
    left: 9%;
}
.products-list > div > div > div > p{
    position: absolute;
    bottom: 0;
    left: 9%;
} 
.products-list > div > div > div{
    position: absolute;
    top: 30%;
    left: 37%;
    font-size: 3rem;
    color: white;
    height: 14.5rem;
    width: 7.4rem;
    display: none;
} 
.products button{
    margin-top: 6rem;
}
/*products-area*/

.about-us > div{
    background: url("../images/index/aboutus.jpg") no-repeat center;
    background-size: 100% 100%;
    background-size: cover;
}
.about-us .theme > span{
    background-color: white;
}
.about-us,.about-us h1,.about-us h1 > small,.about-us button{
    color: white !important;
}
.about-us p{
    font-size: 1.8rem;
    line-height: 1.5em;
}
.about-us p:nth-child(2){
    margin-top: 3rem;
}
.about-us-intro > div:nth-child(2) > div{
    float: left;
}
.about-us-intro > div:nth-child(2){
    display: flex;
    display: -webkit-flex;
    margin-top: 6rem;
}
.about-us-intro > div:nth-child(2) > div{
    width: 33.333%;
    height: 24rem;
    background: url("../images/index/aboutus-1.jpg") no-repeat;
    background-size: cover;
}
.about-us-intro > div:nth-child(2) > div:nth-child(2){
    background: url("../images/index/aboutus-2.jpg") no-repeat;
    background-size: cover;
    
}
.about-us-intro > div:nth-child(2) > div:nth-child(3){
    background: url("../images/index/aboutus-3.jpg") no-repeat;
    background-size: cover;
    
}
.about-us button{
    border-color: white;
    margin-top: 5rem;
    margin-bottom: 8.4rem;
}
/*about-us area*/
.news-list > div {
    float: left;
    width: 47.5%;
    height: 50%;
    padding-top: 6rem; 
    text-align: left;
}
.news-list{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    height: 34.2rem;
}

.news-list > div:nth-child(2n){
    margin-left: 5%;
}
.news-list > div > div:first-child{
    float: left;
    width: 35.087%;
    height: 100%;
    background: url("../images/index/news-1.jpg") no-repeat;
    background-size: cover;
}
.news-list > div:nth-child(2) > div:first-child{
    background: url("../images/index/news-2.jpg") no-repeat;
}
.news-list > div:nth-child(3) > div:first-child{
    background: url("../images/index/news-3.jpg") no-repeat;
}
.news-list > div:nth-child(4) > div:first-child{
    background: url("../images/index/news-4.jpg") no-repeat;
}
.news-list > div > div:last-child{
    float: right;
    width: 61.403%
}
.news-list > div > div:last-child > h3{
    font-size: 1.8rem;
}
.news-list > div > div:last-child > p{
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.5em;
    color: #757169;
}
.news button{
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.contact > div > div:nth-child(2){
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    display: -webkit-flex;
    text-align: left;
}

.contact > div > div:nth-child(2) > div:first-child > div{
    margin-top: 4rem;
    color: #7f7f7f;
    font-size: 2rem;
}
.contact > div > div:nth-child(2) > div:first-child > address{
    margin-top: 3.4rem;
    font-size: 2rem;
    color: #7f7f7f;
    font-family: "微软雅黑";
    font-style: normal;
    padding-left: 6rem;
    background: url("../images/index/a1.png") no-repeat 3rem ;
}
.contact > div > div:nth-child(2) > div:first-child > div:nth-child(2){
    padding-left: 6rem;
    background: url("../images/index/a2.png") no-repeat 3rem;
}
.contact > div > div:nth-child(2) > div:first-child > div:nth-child(3){
    padding-left: 6rem;
    background: url("../images/index/a3.png") no-repeat 3rem;
}
.contact > div > div:nth-child(2) > div:last-child{
    margin-left: 22rem;
}
.contact > div > div:nth-child(2) > div:last-child > div{
    width: 19rem;
    height: 19rem;
    float: left;
}
.contact > div > div:nth-child(2) > div:last-child > div > img{
    width: 100%;
    height: 100%;
}
.contact > div > div:nth-child(2) > div:last-child > div:last-child{
    margin-left: 7.2rem;
}
.contact  > div > div:nth-child(3){
    height: 7.6rem;
    border-top: thin solid #e6e6e6;
}
.contact > div > div:nth-child(3) > p{
    line-height: 7.6rem;
    font-size: 2rem;
    color: #676767;
}
