.banner > img{
    width: 100%;
    height: 100%;
}
.introduce{
    text-align: center;
    position: relative;
}
.introduce > div{
    width: 168rem;
    margin: 0 auto;
}
.introduce button{
    width: 18.2rem;
    height: 4.2rem;
    border: thin solid #cecece;
    background-color: transparent;
    outline: none;
    font-size: 1.4rem;
    color: #666666;
}
.news{
    text-align: left;
    margin-top: 6rem;
    margin-bottom: 8rem;
    width: 168rem;
}
.news > div{
    width: 120rem;
    margin: 0 auto; 
}
.news h2{
    font-size: 2.2rem;
    margin-bottom: 3rem;
    text-align: center;
}
.news h3{
    font-size: 1.4rem;
    margin-bottom: 1rem; 
    color: gray;
    text-align: center;
    font-weight: normal;
}
.news p{
    margin-top: 3rem;
    font-size: 1.4rem;
    line-height: 1.5em;
    /*! text-indent: 2em; */
}
.news-list{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.news-list-item {
    float: left;
    width: 47.5%;
    height: 50%;
    padding-top: 6rem; 
    text-align: left;
}
.news-list-item:nth-child(2n){
    margin-left: 5%;
}
.news-list-item > a{
    display: block;
    width: 100%;
    height: 100%;
}
.news-list-item > a > div:first-child{
    width: 35%;
    height: 100%;
    float: left;
}
.news-list img{
    width: 100%;
    height: 100%;
}
.news-list-item > a > div:last-child{
    float: right;
    width: 61.403%
}
.news-list-item h3{
    font-size: 1.8rem;
}
.news-list-item p{
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.5em;
    color: #757169;
}
.btn{
    width: 100%;
    text-align: center;
}
.list2{
    display: none;
}
.news button{
    margin-top: 9rem;
    margin-bottom: 6rem;
}
footer{
    background: white;
    text-align: center;
}
footer > div{
    height: 10rem;
    margin-top: 8rem;
    line-height: 10rem;
    font-size: 2rem;
}
@media screen and (max-width: 1200px) {
    .news p {
        padding-left: 1rem;
    }
}